@{
    ViewData["Title"] = "Anasayfa";
}


<div class="auth-box card">
    <div class="card-block">

        <div class="row m-t-30">

            <div class="col-md-12">
                <a type="button" class="btn btn-grd-warning btn-md btn-block waves-effect waves-light text-center m-b-20" asp-action="PatientLogIn">Hasta Girişi</a>
            </div>
            <div class="col-md-12">
                <a type="button" class="btn btn-grd-success btn-md btn-block waves-effect waves-light text-center m-b-20" asp-action="PatientRegistrarLogIn">Veznedar Girişi</a>
            </div>
            <div class="col-md-12">
                <a type="button" class="btn btn-grd-info btn-md btn-block waves-effect waves-light text-center m-b-20" asp-action="DoctorLogIn">Doktor Girişi</a>
            </div>
            <div class="col-md-12">
                <a type="button" class="btn btn-grd-danger btn-md btn-block waves-effect waves-light text-center m-b-20" asp-action="SuperAdminLogIn">Admin Girişi</a>
            </div>
        </div>
        
    </div>
</div>
    
