
@{
    ViewData["Title"] = "CreateDoctor";
}
@model HospitalAppointment.DTO.DTOs.Doctor.DoctorAddDto

<div class="col-md-10 container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Departman Ekleme Sayfası</h5>
        </div>
        <div class="card-block">
            <form class="form-material" asp-action="CreateDoctor" method="post">
                <input type="hidden" asp-for="RolId" value="@Model.RolId"/>
                <div class="form-group form-default">
                    <input type="text" class="form-control" required="" asp-for="Name">
                    <span class="form-bar"></span>
                    <label class="float-label">Adı</label>
                </div>
                <div class="form-group form-default">
                    <input type="text" class="form-control" required="" asp-for="SurName">
                    <span class="form-bar"></span>
                    <label class="float-label">Soyadı</label>
                </div>
                <div class="form-group form-default">
                    <input type="text" class="form-control" required="" asp-for="Tcno">
                    <span class="form-bar"></span>
                    <label class="float-label">TCNo</label>
                </div>
                <div class="form-group form-default">
                    <input type="text" class="form-control" required="" asp-for="Email">
                    <span class="form-bar"></span>
                    <label class="float-label">Email</label>
                </div>
                <div class="form-group form-default">
                    <input type="date" class="form-control" required="" asp-for="BirthDate">
                    <span class="form-bar"></span>
                    <label class="float-label">Doğum Tarihi</label>
                </div>
                <div class="form-group form-default">
                    <input type="text" class="form-control" required="" asp-for="Telephone">
                    <span class="form-bar"></span>
                    <label class="float-label">Telefon</label>
                </div>
                <div class="form-group form-default">
                    <select asp-for="Gender" class="form-control">
                        <option value="1">Erkek</option>
                        <option value="0">Kadın</option>
                    </select>
                    <span class="form-bar"></span>
                    <label class="float-label">Cinsiyet</label>
                </div>
                <div class="form-group form-default">
                    <input type="text" class="form-control" required="" asp-for="Password">
                    <span class="form-bar"></span>
                    <label class="float-label">Parola</label>
                </div>
                <div class="form-group form-default">
                    <input type="text" class="form-control" required="" asp-for="Apellation">
                    <span class="form-bar"></span>
                    <label class="float-label">Unvan</label>
                </div>
                <div class="form-group form-default">
                    <select asp-for="DepartmentId" class="form-control"asp-items="@ViewBag.Departments">
                        <option hidden value="-1">Departman Seçiniz</option>
                    </select>
                    <span class="form-bar"></span>
                    <label class="float-label">Departman</label>
                </div>
                <div class="form-group form-default">
                    <input type="text" class="form-control" required="" asp-for="PoliclinicName">
                    <span class="form-bar"></span>
                    <label class="float-label">Policlinic</label>
                </div>
                <br/>
                <button type="submit" class="btn waves-effect waves-light btn-primary"><i class="icofont icofont-check-circled"></i>Kaydet</button>
            </form>
        </div>
    </div>
</div>