
@{
    ViewData["Title"] = "Karalistedesiniz";
}


<div class="col-md-10 container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Karaliste Kaydı</h5>
        </div>
        <div class="card-block">
            <form class="form-material" >
                <div class="form-group form-default">
                    <input type="text" disabled class="form-control text-danger" value="Karaliste kaydınız var şu anda randevu verilememektedir">
                    <span class="form-bar"></span>
                </div>
                
            </form>
        </div>
    </div>
</div>