
@{
    ViewData["Title"] = "Profilim";
}

@model HospitalAppointment.DTO.DTOs.Patient.ActivePatientDto

<div class="col-md-10 container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Profilim</h5>
        </div>
        <div class="card-block">
            <form class="form-material" asp-action="" method="post">
                <input type="hidden" asp-for="RolId" value="@Model.RolId" />
                <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                <div class="form-group form-default">
                    <input type="text" class="form-control" required disabled asp-for="Name" value="Ad:@Model.Name">
                    <span class="form-bar"></span>
                </div>
                <div class="form-group form-default">
                    <input type="text" class="form-control" required disabled asp-for="SurName" value="Soyad:@Model.SurName">
                    <span class="form-bar"></span>
                </div>
                <div class="form-group form-default">
                    <input type="text" class="form-control" required disabled asp-for="Tcno" value="TCNo:@Model.Tcno">
                    <span class="form-bar"></span>
                </div>
                <div class="form-group form-default">
                    <input type="text" class="form-control" required disabled asp-for="Email" value="Email:@Model.Email">
                    <span class="form-bar"></span>
                </div>
                <div class="form-group form-default">
                    <input type="text" class="form-control" required disabled asp-for="BirthDate" value="Doğum Tarihi:@Model.BirthDate.ToShortDateString()">
                    <span class="form-bar"></span>
                </div>
                <div class="form-group form-default">
                    <input type="text" class="form-control" required disabled asp-for="Telephone" value="Telefon:@Model.Telephone">
                    <span class="form-bar"></span>
                </div>
                <div class="form-group form-default">
                    @if (Model.Gender == true)
                    {
                        <input type="text" class="form-control" required disabled asp-for="Gender" value="Cinsiyet:Erkek">
                    }
                    else
                    {
                        <input type="text" class="form-control" required disabled asp-for="Gender" value="Cinsiyet:Kadın">
                    }
                    <span class="form-bar"></span>
                </div>
                <div class="form-group form-default">
                    <input type="text" class="form-control" required disabled asp-for="MotherName" value="Anne Adı:@Model.MotherName">
                    <span class="form-bar"></span>
                </div>
                <div class="form-group form-default">
                    <input type="text" class="form-control" required disabled asp-for="FatherName" value="Baba Adı:@Model.FatherName">
                    <span class="form-bar"></span>
                </div>
            </form>
        </div>
    </div>
</div>